body {
  position: relative;
  color: rgb(255, 255, 255);
  object-fit: contain;
}
h1 {
  text-align: center;
}
h3 {
  color: yellow;
  font-size: 25px;
}
.my_name {
  color: rgb(204, 8, 8);
}
.background_Img {
  background-color: rgba(0, 0, 0, 0.6);

  position: relative;
  top: 0;
  left: 0px;
  padding: 0;
  height: 1060px;
  width: 1500px;
  opacity: 1;
  color: aliceblue;
}
.linksInNav {
  color: rgb(252, 252, 252);
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}
.navBar {
  text-align: right;
  margin-right: 70px;
  margin-bottom: 20px;
}
.headPart {
  margin-top: 40px;
}

.progress {
  background-color: #7ca084;
  height: 10px;
  margin-top: 10px;
}

.progress-bar {
  height: 10px;
  background-color: #1cb540;
}
.navBar a {
  font-family: "Times New Roman";
  font-style: italic;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
#download-icon,
#mail-icon,
#info-icon {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  object-fit: cover;
}
#skills-icon,
#about-icon {
  height: 28px;
  width: 28px;
  border-radius: 50px;
  object-fit: cover;
}
.span-space {
  margin-top: 10px;
}
.skill-section {
  background-color: rgb(8, 48, 48);
  border: 5px rgba(226, 207, 207, 0.267) solid;
  width: 50%;
  padding: 15px;
}
