body {
  position: relative;
  color: rgb(255, 255, 255);
  object-fit: contain;
}
h1 {
  text-align: center;
}
h3 {
  color: yellow;
  font-size: 25px;
}
.my_name {
  color: rgb(204, 8, 8);
}
.background_Img {
  background-color: rgba(0, 0, 0, 0.6);

  position: relative;
  top: 0;
  left: 0px;
  padding: 0;
  height: 1060px;
  width: 1500px;
  opacity: 1;
  color: aliceblue;
}
.linksInNav {
  color: rgb(252, 252, 252);
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}
.navBar {
  text-align: right;
  margin-right: 70px;
  margin-bottom: 20px;
}
.headPart {
  margin-top: 40px;
}

.progress {
  background-color: #7ca084;
  height: 10px;
}

.progress-bar {
  height: 10px;
  background-color: #1cb540;
}
